
@{
    ViewBag.Title = "Stadium";
}

<h2>Stadium</h2>

<ul>
    @foreach (var stadium in ViewBag.List)
    {

        <li>ID = @stadium.Location</li>
        <li>Name = @stadium.Capacity</li>
        


    }
</ul>

